<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.eordano.recgo.android" android:versionCode="1" android:versionName="0.1">
  <uses-sdk android:minSdkVersion="31" android:targetSdkVersion="35" />
  <application android:label="Recgo Android" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:supportsRtl="true">
    <activity android:name=".MainActivity" android:exported="true">
      <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
    </activity>
    <service android:name=".RecorderService" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:exported="true">
      <intent-filter><action android:name="android.accessibilityservice.AccessibilityService" /></intent-filter>
      <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility" />
    </service>
  </application>
</manifest>
